[submodule "asa"]
	path = asa
	url = ssh://aur@aur.archlinux.org/asa.git
[submodule "ttf-roboto-flex-git"]
	path = ttf-roboto-flex-git
	url = ssh://aur@aur.archlinux.org/ttf-roboto-flex-git.git
[submodule "wl-gammarelay-rs"]
	path = wl-gammarelay-rs
	url = ssh://aur@aur.archlinux.org/wl-gammarelay-rs.git
[submodule "castlequest-git"]
	path = castlequest-git
	url = ssh://aur@aur.archlinux.org/castlequest-git.git
[submodule "sway-i3-style-fullscreen-git"]
	path = sway-i3-style-fullscreen-git
	url = ssh://aur@aur.archlinux.org/sway-i3-style-fullscreen-git.git
