[submodule "asa"]
	path = asa
	url = ssh://aur@aur.archlinux.org/asa.git
[submodule "wl-gammarelay-rs"]
	path = wl-gammarelay-rs
	url = ssh://aur@aur.archlinux.org/wl-gammarelay-rs.git
[submodule "castlequest-git"]
	path = castlequest-git
	url = ssh://aur@aur.archlinux.org/castlequest-git.git
[submodule "sway-i3-style-fullscreen-git"]
	path = sway-i3-style-fullscreen-git
	url = ssh://aur@aur.archlinux.org/sway-i3-style-fullscreen-git.git
[submodule "i3status-rust-git"]
	path = i3status-rust-git
	url = ssh://aur@aur.archlinux.org/i3status-rust-git.git
